/*in case of cutting edge properties*/
@mixin prefix($map, $vendors: webkit khtml moz ms o) {
 @each $prop, $value in $map {
 @if $vendors {
 @each $vendor in $vendors {
 #{"-" + $vendor + "-" + $prop}: #{$value};
 }
 }
#{$prop}: #{$value};
 }
}

$fun-font:'Press Start 2P', cursive;
$regular-font:'Russo One', sans-serif;

$color-error: #984B43;
$color-visited:#fff; /* #5a818e; */
$color-hint:#FFDD1B; /* #e8c402; */
$color-regular:#18121E;
$color-bg:#171717;

$mobileWidth:767px;
$mobileAndTabletWidth:980px;
$mobileAndTabletLandscapeWidth:1024px;
$mobileLandscapeWidth:900px;




/* css reset from  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	color: white;
}



/*layout css*/


.ct{
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.vertical-middle{
	display: table-cell;
    vertical-align: middle;
}

.main{
	margin-left: auto;
    margin-right: auto;
}





body{
	font-family: 'Russo One', sans-serif;
}

body, .hint-time, .ctrls{
	background-color: $color-bg;
	color: white;

}
div{
	box-sizing: border-box;
}
.ctrls{
	margin-top: 1em; 
}

.main, .context-menu-container{
    margin: auto;
    max-width: 945px;
    min-width: 280px;
}
.main{
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.main.game .grid-container{
    display: inline-block;
	width: 100%;
	max-width: 850px;
    margin: auto;
    background-color: white;

}

.grid.hint-mode{
background-color: $color-hint;
}

.grid.hint-mode .cell.def{
background-color: black;
}


/*board css*/

.grid{
    padding-top: 0.4%;
    padding-left: 0.4%;
    padding-bottom: 0.2%;
}
.hint-time {
	padding-bottom:2px;
	height: 5px;
}
.ln{
    vertical-align: middle;
    padding-bottom: 0.15em;
}
.hint-progress{
	height: 5px;
	background-color: $color-hint/*#EAC67A*/;
	width:0%;
	transition-property: width;
	transition-timing-function: linear;
}
.hint-progress.active{
	width:100%;
	transition-duration: 0s
}

.cell{
	display: inline-block;
	margin:0;
	background-color: $color-regular;
	margin-right:0.4%;
    cursor: pointer;
	transition-property: background-color;
	transition-timing-function: linear;
	transition-duration: 0.4s;
    vertical-align: middle;
}
.cell.hint{
	background-color: $color-hint /*#EAC67A*/;
}
.cell.error{
	background-color: $color-error;
}
.cell.visited{
	background-color: $color-visited;
}
.float{
	float: left;
}

.ln{
	margin-top: 0px;
}

/*Level bar css*/

.lvl-bar-container{
	display: none;
	vertical-align: bottom;
	background-color: white;
	margin-right: 5px;
    width: 5%;
	margin-left: -1.9%;

}

/* 
.main.hint-mode
{ 
	.lvl-bar-container{
		background-color: $color-hint;
	}
	.lvl{
    	background-color: black;
	}
	.lvlDigit{
		color: $color-hint;
	}
}
 */

.lvl-bar-container.game{
	display: inline-block;
}


.lvlDigit {
    background-color: $color-bg;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.lvlDigit .label{
	font-size: 15px;
}


.lvl{
   	padding-bottom: 81%;
    margin: 10%;
    background-color: $color-hint;
}

/*context menu css*/

.context-menu-container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 10;
    max-width: 930px;
    margin: auto;
    text-align: center;
}
.mask{
    min-width: 280px;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
    text-align: center;
    padding-bottom: 0%;

}
.mask-game-over{
   	background-size: 150px 186px;
	background-position: center 15%;
    /* background-image:url("./game-over1.png"); */
    background-repeat: no-repeat;
}

.menu-title {
    font-size: 64px;
    font-family:'Press Start 2P', cursive;
    padding-top: 43%;
    text-transform: capitalize;
    line-height: 75px;
    
    /* color: $color-hint; text-shadow: 11px 9px 0px #000; */
}
/* 

.menu-title {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}



@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
} */

.mask-title-container{
    max-width: 945px;
    margin: auto;	
}


.menu{
	position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10%;
}
.menu-item{
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 3px;
    cursor: pointer;
}


.hidder{
	width: 100%;
	height: 100%;
    position: absolute;
   	opacity: 0.7;
    top: 0;
    z-index: 8;
    background-color: $color-regular;
}


/*best score scree */

.main.scores{
	height: 100%;
	width: 100%;
}

.grid-menu{
	background-color: $color-bg;
    text-align: center;
    padding: 5%;
}

.grid-menu h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    padding-bottom: 10%;
}



.grid-menu .close-menu{
    background:url("./closeMedium.png") top right no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.score{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}
.ctas{
	position: absolute;
	bottom: 1em;
	left: 6em;
	right: 7em;
}
.btn{
	background-color: $color-regular;
	border:2px solid white;
    line-height: 30px;
    width: 100px;
    margin: auto;
    cursor: pointer;
}



@media screen and (max-width: $mobileAndTabletWidth) {
	
	.main, .context-menu-container{
		max-width: 760px;
	}

	
	.context-menu {
	    margin-left: -1%;
	}

	.menu-title, .menu-title.game-over{
    	/* padding-top: 35%; */
	    font-size: 40px;
    }
	
}




@media screen and (max-width: $mobileWidth)  {
	.title.mobile-portrait{
		display: none;
	}
	
	
   
   	.mask-game-over{
    	background-size: 100px 124px;
    }
   

}


@media screen and (max-width: $mobileAndTabletWidth) and(orientation: portrait){

	.menu-title{
	    padding-top: 58%;
	  }

  .context-menu-container{
		    left: 0;
	}
	.main.game  .grid-container {
	    display: block;
	}
	.lvl-bar-container.game{
		display: block;
		width: 100%;
		background-color: inherit;
		margin-top:3em;
	}

   .lvl{
		display: inline-block;    
		padding-bottom: 4.4%;
		width: 5.5%;
		margin: 0;
		border: 0.15em solid white;
		margin-right: 0.15em;
   }
   .lvlDigit{
		display: inline-block; 
		padding-bottom: 0;
		vertical-align: center;
		line-height: 25px;
		font-size: 25px;
		padding-right: 4%;
		padding-left: 4%;
   }
   .lvlDigit .label{
   		font-size: 15px;
   }

}


@media screen and (max-width: $mobileWidth)  and(orientation: portrait){
	/* .menu-title{
	    padding-top: 59%;
    } */

}

@media screen and (max-width: $mobileAndTabletLandscapeWidth) and(orientation: landscape){
	/*because grid was not completly on screen on ipad landscape*/
	.main.game, .context-menu-container{
		width: 77%;
	}
	.lvl-bar-container.game{
    	margin-left: -2.9%;
    }
    .main.game .grid-container {
    	width: 95%;
	}
	.mask-game-over{
    	background-position: center 24%;
    }
}

@media screen and (max-width: $mobileLandscapeWidth)  and(orientation: landscape){
	

	.main.game{
		padding-top: 0.1%; 
    	width: 60%;
	}
	.context-menu-container{
    	width: 63%;
	 }
	.mask-game-over{
    	background-position: center 6%;
    }
    .menu-title{
    	padding-top: 6%;
    }
    
    .menu{
		padding-bottom: 3%;
    } 

    .main.game .grid-container {
    	width: 90%;
	}
	.lvl-bar-container.game{
	    width: 10%;
	    margin-left: -4.9%;
    }
}


.help{
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	font-size:25px;
}